@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
	scroll-behavior: smooth;
}
:root {
	--red: #e63946;
	--cream: #f1faee;
	--lightgreen: #a8dadc;
	--lightblue: #457b9d;
	--darkblue: #060e3f;
	--color-bg: #04152d;
}
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Outfit", sans-serif;
	background: var(--color-bg);
	color: white;
	position: relative;
	padding-bottom: 800vh;

	padding-inline: 10%;
}


/* navbar */

header {
	height: 80px;
}
section {
	padding-top: 80px;
	margin: 5px;
}
.navbar {
	background: var(--lightblue);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	left: 0;
	padding: 10px;
	padding-inline: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a{
  color: white;
  text-decoration: none;
}
.nav-links {
	color: white;
	text-decoration: none;
	font-weight: 600;
	font-size: x-large;
}
.nav-ul {
	display: flex;
	list-style: none;
	gap: 50px;
}
.nav-div {
	/* display: flex; */
	font-size: 40px;
}
/* --------------------------------------------------------- */

/* home page */
#home {
	height: calc(100vh - 180px);
}
.main-home {
	display: flex;
	justify-content: space-between;
}
.home-text-div {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
	gap: 50px;
	padding-top: 20px;
}
.home-text-div h1 {
	font-weight: 500;
	font-size: 80px;
	width: 700px;
	text-wrap: wrap;
	overflow: hidden;
}
.home-text-div p {
	font-size: 30px;
}
.home-text-des {
	text-wrap: wrap;
	width: 610px;
} 
.home-img-div {
	/* background: rgba(255, 255, 255, 0.885); */
	/* box-shadow:  0 0 50px rgb(255, 255, 255); */
  filter: drop-shadow(0 0 30px white) ; 
	display: flex;
	border: 0.2rem solid white;
	justify-content: center;
	align-items: center;
	height: fit-content;
	aspect-ratio: 1/1;
	border-radius: 50%;
}
.image-div {
  box-shadow: 0 0 30px #fff inset;
  border: 10px solid white;
	background: var(--color-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	border-radius: 50%;
	height: fit-content;
	overflow: hidden;
} 
iframe{
	margin-top: 200px;
}
img { 
  filter: brightness(1);
	height: 400px;
	scale: 1.5;
}

.button-div{
  display: flex;
  gap: 30px;
  padding-inline: 50px;
}
button,.contact-button{
  font-size: 20px;
  background:rgb(71, 89, 155);
  padding: 20px;
  padding-inline: 30px;
  border-radius: 30px;
  outline: none;
  border: none;
  color: white ;
  font-weight: 600;
}


/* ------------------------------------------------------------------ */


/* About page */

#about{
	height: calc(100vh - 220px);
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.453);
	
}

.about-text{
	font-size: 38px;
	font-weight: bold;
	padding-left: 75px;
}

.about-image{
	height: 250px;
}
.about-image-div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	/* background: rebeccapurple; */
	height: 600px;
}